<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PizzaStoreData" type="DesignPatternCSharp.Factorys.Ioc.Configuration.PizzaStoreData, DesignPatternCSharp.Factorys.Ioc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <PizzaStoreData>
    <PizzaStores>
      <PizzaStore Key="ChicagoPizzaStore" DisplayName="Chicago Pizza Store">
        <Pizzas>
          <Pizza Key="cheese" DisplayName="Chicago Cheese Pizza"
                   Dough="ThinCrustDough"
                   Sauce="PlumTomatoSauce"
                   Cheese="ReggianoCheese"
                   Clams=""/>
          <Pizza Key="clams" DisplayName="Chicago Clams Pizza"
                   Dough="ThinCrustDough"
                   Sauce="PlumTomatoSauce"
                   Cheese=""
                   Clams="FrozenClams"/>       
        </Pizzas>
      </PizzaStore>
      <PizzaStore Key="NewYorkPizzaStore" DisplayName="NewYork Pizza Store">
        <Pizzas>
          <Pizza Key="cheese" DisplayName="New York Cheese Pizza"
                   Dough="ThickCrustDough"
                   Sauce="MarinaraSauce"
                   Cheese="MozzarellaCheese"
                   Clams=""/>
          <Pizza Key="clams" DisplayName="New York Clams Pizza"
                   Dough="ThickCrustDough"
                   Sauce="MarinaraSauce"
                   Cheese=""
                   Clams="FreshClams"/>
        </Pizzas>
      </PizzaStore>
    
  </PizzaStores>
  </PizzaStoreData>
</configuration>