<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PizzaStoreData" type="DesignPatternCSharp.Factorys.Ioc.Configuration.PizzaStoreData, DesignPatternCSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <PizzaStoreData>
    <PizzaStores>
      <add Key="ChicagoPizzaStore" DisplayName="Chicago Pizza Store">
        <Pizzas>
          <add Key="cheese" DisplayName="Chicago Cheese Pizza"
                   Dough="ThinCrustDough"
                   Sauce="PlumTomatoSauce"
                   Cheese="ReggianoCheese"
                   Clams=""/> 
          <add Key="clams" DisplayName="Chicago Clams Pizza"
                   Dough="ThinCrustDough"
                   Sauce="PlumTomatoSauce"
                   Cheese=""
                   Clams="FrozenClams"/>       
        </Pizzas>
      </add>
      <add Key="NewYorkPizzaStore" DisplayName="NewYork Pizza Store">
        <Pizzas>
          <add Key="cheese" DisplayName="New York Cheese Pizza"
                   Dough="ThickCrustDough"
                   Sauce="MarinaraSauce"
                   Cheese="MozzarellaCheese"
                   Clams=""/>
          <add Key="clams" DisplayName="New York Clams Pizza"
                   Dough="ThickCrustDough"
                   Sauce="MarinaraSauce"
                   Cheese=""
                   Clams="FreshClams"/>
        </Pizzas>
      </add>
    </PizzaStores>
  </PizzaStoreData>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>